html.my_in_h{
	font: Arial, Helvetica, sans-serif;
	overflow: auto;
	height: 100%;
	width: 100%;
}
html, body{
    overflow: hidden;
    font: Arial, Helvetica, sans-serif;
}
.my_in_h{
	font: Arial, Helvetica, sans-serif;
	overflow: auto;
	height: 99%;
	width: 99%;
}

.top_spacer{
    width: 100%;
    height: 2px;
}

.top_bar{
    width: 100%;
    height: 40px;
}

.my_inventory_box{
    float: right;
    display: flex;
    width: 79%;
    width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
}

.inv_logo_box{
    float: left;
    width: 100px;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
}

.main_div{
    width: 100%;
    height: 100%;
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: calc(100% - 100px);
}

.main_div_mi{
    width: 100%;
    height: 80%;
    height: -webkit-calc(80% - 100px);
    height: -moz-calc(80% - 100px);
    height: calc(80% - 100px);
}

.left_items_div{
    width: 15%;
    height: 100%;
    float: left;
}

.left_items_div_mi{
    width: 15%;
    height: 80%;
    float: left;
}

.left_items_div_mi_1{
	width: 100%;
	height: 63%;
	float: left;
}

.left_items_div_mi_2{
	width: 100%;
	height: 59%;
	float: left;
}

.Adv_search_div{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
	float: left;
}

.listed_items_div{
    float: right;
    max-width: -webkit-calc(100% - (15% + 10px));
    max-width: -moz-calc(100% - (15% + 10px));
    max-width: calc(100% - (15% + 10px));
    max-height: 100%;
    width: -webkit-calc(100% - (15% + 10px));
    width: -moz-calc(100% - (15% + 10px));
    width: calc(100% - (15% + 10px));
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    border: 2px solid #00CCFF;
}

.centered_text{
    text-align: center;
    margin: auto;
}


.copyright_div{
    width: 100%;
    height: 5%;
}

.copyright_div_mi{
	width: 100%;
	height: 5%;
	float: left;
}

.copyright_box{
    width: 99.7%;
    height: 100%;
    border-radius: 7px;
    border: 2px solid #00CCFF;
    margin: auto;
    align-items: center;
}

.addModRegDiv{
  margin: auto;
  margin-top: 2px;
  width: 98%;
  height: 80%;
  border-radius: 10px;
  border: 1px solid #00CCFF;
  font-size-adjust: 0.5;
}

.addModRegDiv table{
  width: 99%;
}

.cases{
  margin: auto;
  margin-top: 4px;
  padding: 3px 5px 0px 5px;
  width: 96%;
  height: 31%;
  border-radius: 10px;
  border: 2px solid #00CCFF;
}

.cases span{
  margin: 3px;
  font-size: 17px;
  font-weight: bold;
}

#updater{
  font-weight: normal;
  font-size: 16px;
}

#modSerNum{
  height: 15px;
}

.logo_div_create_account{
    width: 100%;
    height: 15%;
}

.logo_box_create_account{
    display: flex;
    width: 20%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid #00CCFF;
    margin: 0 auto;
    align-items: center;
}

.create_account_div{
    width: 100%;
    height: 35%;
    min-height: 225px;
}

.create_account_box{
    width: 40%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid #00CCFF;
    margin: 0 auto;
}

.ca_text{
    margin: 0 auto;
    width: 100%;
    display: block;
    align-items: center;
    height: 20%;
}

.ca_table{
    width: 100%;
}

.ca_table_div{
    width: 100%;
    display: block;
    height: 75%;
}

.logo_div{
    width: 100%;
    height: 15%;
}

.logo_box{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
    margin: auto;
}

.centered_text{
    text-align: center;
    margin: auto;
}

.login_div{
    width: 100%;
    height: 38%;
}

.login_box{
    width: 35%;
    height: 85%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
    margin: auto;
    align-items: center;
    padding: 30px;
}

.RAC_div{
    width: 100%;
    height: 10%;
}

.RAC_box{
    width: 40%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
    margin: 0 auto;
    align-items: center;
}

.loginInputs{
  float: right;
  margin-right: 20%;
}

.my_inv_expanding{
	min-height: 99%;
	float: right;
	width: 84%;
	margin: 0 auto;
	border-radius: 10px;
	border: 2px solid #00CCFF;
}

.basic_s_table{
    width: 100%;
}