html, body{
    height:98%;
    width: 98%;
}

.top_spacer{
    width: 100%;
    height: 2px;
}

.top_bar{
    width: 100%;
    height: 40px;
}

.my_inventory_box{
    float: right;
    display: flex;
    width: 79%;
    width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
}

.logo_box{
    float: left;
    display: flex;
    width: 100px;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
}

.main_div{
    width: 100%;
    height: 80%;
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: calc(100% - 100px);
}

.left_items_div{
    width: 150px;
    height: 100%;
    float: left;
}

.Adv_search_div{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
}

.listed_items_div{
    float: right;
    width: 84%;
    width: -webkit-calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: calc(100% - 160px);
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00CCFF;
}

.centered_text{
    text-align: center;
    margin: auto;
}


.copyright_div{
    width: 100%;
    height: 5%;
}

.copyright_box{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: 2px solid #00CCFF;
    margin: 0 auto;
    align-items: center;
}